body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #444;
}
html, body {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /*backdrop-filter: url(#blur);*/
    -moz-backdrop-filter: url(#blur);
    height: 150%;
    min-height: 100%;
}

.content {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 2% 5%;
    display: inline-block;
    margin-bottom: 7%;
}

a {
    color: white;
    text-decoration: underline;
}

#survivor {
    font-size: 10pc;
    width: auto;
    display: block;
}
