body {
    background-color: red;
    text-align: center;
}

.main {
    margin: 0 auto;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2% 5%;
    margin: 0 auto;
    display: inline-block;
}

a {
    color: white;
    text-decoration: underline;
}

#survivor {
    font-size: 10pc;
    width: auto;
    display: block;
}

#empty-top {
    margin: 10% 0;
}
#empty-middle {
    margin: 10% 0;
}